@model TB181979_desafio01.Models.CuentaBancaria

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Seguro que quieres borrar este elemento?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Clientes.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clientes.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCuentaBancarias.Tipo_Transaccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCuentaBancarias.Tipo_Transaccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Moneda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moneda)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
