@model TB181979_desafio01.Models.TipoCuentaBancaria

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoCuentaBancaria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Transaccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Transaccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink(" Regresar", "Index", "", new { @class = "btn btn-secondary bi bi-arrow-left-square" })
</p>
